.mon formulaire {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #ef5102;
}
.groupe-champ {
 margin-bottom: 15px;
}

.formulaire label {
 display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f35106;
}
.mon-formulaire input[type="text"],
.mon-formulaire input[type="email"],
.mon-formulaire textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.mon-formulaire input:focus{
 border-color: #f54f08;
  outline: none;
}
.mon-formulaire button[type="submit"] {
  background-color: #cb470f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.mon-formulaire button[type="submit"]:hover {
  background-color: #f54f08;
}